<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.huit.uuc.dao.auth.UserMapper">
	<sql id="Base_Column_List" >
	app_uid,nickname,create_time,last_login_time,app_id
	</sql>
	<insert id="insert" parameterType="tech.huit.uuc.entity.auth.User" useGeneratedKeys="true" keyProperty="id">
		insert into t_user
		(app_uid,nickname,create_time,last_login_time,app_id) 
		values 
		(#{appUid},#{nickname},#{createTime},#{lastLoginTime},#{appId}) 
	</insert>
	<delete id="deleteById" parameterType="int">
		delete from t_user where id=#{id}
	</delete>
	<select id="selectById" resultType="tech.huit.uuc.entity.auth.User">
		select * from t_user where id=#{id}
	</select>
	<select id="selectUidByAppUid" resultType="Integer">
		select id from t_user where app_id=#{appId} and app_uid=#{appUid}
	</select>
	<delete id="deleteByIds" parameterType="int">
		delete from t_user
		<where>
		<choose>
			<when test="null != ids">
				<foreach collection="ids" item="id" separator="," open="id in (" close=")">
				#{id}
				</foreach>
			</when>
			<otherwise>
			0=1
			</otherwise>
		</choose>
		</where>
	</delete>
	<update id="update" parameterType="tech.huit.uuc.entity.auth.User">
		update t_user
		<set>
			<if test="appUid != null">
				app_uid = #{appUid},
			</if>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime},
			</if>
			<if test="appId != null">
				app_id = #{appId}
			</if>
		</set>
		where id=#{id}
	</update>
	<select id="listPaged" resultType="tech.huit.uuc.entity.auth.User">
		select * from t_user
		<if test="tableParam.length > -1">
		limit #{tableParam.start},#{tableParam.length}
		</if>
	</select>
	<select id="listAll" resultType="tech.huit.uuc.entity.auth.User">
		select * from t_user
	</select>
	<select id="count" resultType="int">
		select count(*) from t_user
	</select>
	<select id="countByAppId" resultType="int">
		select count(*) from t_user where app_id = #{appId}
	</select>
	<select id="getNicknameByUids" resultType="tech.huit.uuc.entity.auth.User">
		select id,nickname from t_user where id in(${uids})
	</select>
</mapper>