<?xml version="1.0" encoding="UTF-8"?>
<!-- default settings start -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/util
      	http://www.springframework.org/schema/util/spring-util-3.1.xsd
      	http://www.springframework.org/schema/tx
      	http://www.springframework.org/schema/tx/spring-tx.xsd
      	http://www.springframework.org/schema/task
      	http://www.springframework.org/schema/task/spring-task-3.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config />

    <!--Scan beans, except @Controller -->
    <context:component-scan base-package="tech.huit"  >
        <context:exclude-filter type="annotation"  expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    
    <aop:aspectj-autoproxy proxy-target-class="false"  />

    <aop:config proxy-target-class="false"  />

    <context:property-placeholder location="classpath:conf.properties" ignore-resource-not-found="false" local-override="false"/>

    <!--<import resource="classpath:spring/spring-monitor.xml" />-->

<!--    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
        &lt;!&ndash;true:单例，一个cacheManager对象共享；false：多个对象独立  &ndash;&gt;
        <property name="shared" value="true"/>
        <property name="cacheManagerName" value="ehcacheManager"/>
    </bean>-->
    <import resource="classpath:spring/spring-mybatis.xml" />
    <import resource="classpath:spring/spring-redis-cluster.xml" />
    <import resource="classpath:spring/spring-cache.xml" />
</beans>


